

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #907C75;
  }
  
  .home-logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .home-search-form {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Added property */
  }
  
  .home-search-input {
    flex-grow: 1; /* Added property */
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .home-search-button {
    padding: 8px 16px;
    background-color: #fff;
    color: #907C75;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .home-buttons {
    display: flex;
    align-items: center;
  }
  
  .home-cart-button,
  .home-logout-button {
    padding: 8px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .home-cart-button:hover,
  .home-logout-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  